<div class="drum-kit">
  <div class="keys">
    {{#each model as |sound index|}}
      <div data-key={{sound.data-key}} class="key">
        <kbd {{action "log" sound}}>{{sound.kbd}}</kbd>
        <span class="sound">{{sound.sound}}</span>
      </div>
      <audio data-key={{sound.data-key}} src="assets/drum-kit/sounds/{{sound.sound}}.wav"></audio>
    {{/each}}
  </div>
  {{outlet}}
</div>
