<div class="drum-kit">
  <div class="keys">
    {{#each model as |tone index|}}
      <div data-key={{tone.data-key}} class="key">
        <kbd {{action "log" tone}}>{{tone.kbd}}</kbd>
        <span class="sound">{{tone.sound}}</span>
        <audio data-key={{tone.data-key}} src="assets/drum-kit/sounds/{{tone.sound}}.wav"></audio>
      </div>
    {{/each}}
  </div>
  {{outlet}}
</div>
